body {
    font-size:16px;
    color: #fff;
    background-color: #7B3F00;
    font-family: 'Merriweather', serif;
}

/**header **/
#header-nav {
    background-color:	#F0DC82;
    border-radius: 5;
    border: 1;
}

/**Logo **/
#logo-img {
    background: url('../images/cafe_logo.jpg') no-repeat;
    width: 290px;
    height: 160px;
    margin:10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Dancing Script', cursive;
  color: brown;
  font-size: 1.7em;
  font-weight: bold;
  
  text-shadow: 1px 1px 1px white;
  line-height: .75;
  margin-top: 0;
  margin-bottom: 0;
  
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #f1c40f;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}

#phone div { /* Contact us */
  color: brown;
  text-align: right;
  padding-right: 15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}



.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-tile, #recipes-tile,#specials-tile, #gallery-tile, #about-us-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile, #recipes-tile, #specials-tile, #gallery-tile, #about-us-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../images/menu.jpg') no-repeat;
  background-position: center;
}
#recipes-tile {
  background: url('../images/recipes.jpg') no-repeat;
  background-position: center;
}

#specials-tile {
  background: url('../images/specials.jpg') no-repeat;
  background-position: center;
}

#gallery-tile {
  background: url('../images/gallery.jpg') no-repeat;
  background-position: center;
}

#about-us-tile {
  background: url('../images/about-us.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #recipes-tile span,#specials-tile span, #gallery-tile span, #about-us-tile span, #map-tile span {
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  opacity: .6;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: brown;
  color: #fff;
  
}



/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/gallery-1.jpg') no-repeat center;
    height: 627px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/gallery-1.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/gallery-1.jpg.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #collapsable-nav a {
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-contact {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #menu-tile, #recipes-tile,#specials-tile, #gallery-tile, #about-us-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

}

  
  /* Home page */
  #menu-tile, #recipes-tile, #specials-tile, #gallery-tile, #about-us-tile {
    width: 260px;
    margin: 0 auto 15px;
  }


/* Footer */
.panel-footer {
  background-color:  	#F0DC82;
}
  .panel-footer section {
    color: brown;
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }

  #hours span, #address span {
    font-size: 1.4em;
  }

  .text-center {
    color: #59260B;

  }
/* End Footer */


.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  opacity: .6;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  background-color: brown;
  color: #fff;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
